*{
    margin: 7px;
    max-width: 1600px;
    font-family: inria sans,sans-serif;
}
nav img{
    width: 139px;
    height: 60px;
}
nav{
   
    height: 91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul{
    display: flex;
    gap: 35px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
nav li{
   list-style: none;
}
nav button{
    width:164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 5px;
}
.first-content{
    background-image: url('../assets/hero-bg.png');
    max-width: 1600px;
    height: 400px;
    text-align: center;
    padding-top: 100px ;
}
.btn1{
    background-color:white;
    color: #30B868;
    padding: 3px 5px;
    border-radius: 50px;
}
.btn2{
    background-color: #30B868;
    color: white;
   text-align: center;  
   padding: 8px;
   border-radius: 5px;
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 13px;
}

.btn3{
    background: none;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}
.btn{
    display:flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: white;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-circle{
    width: 40px;
    height: 40px;
    background-color: #F95555 ;
    display: flex;
    border-radius: 50%;
    margin-left: 100px;
}
.banner{
    text-align: center;
}
.main{
    justify-content: space-between; 
}
.bold{
    font-weight: 600;
}
.solution{
    display: flex;
    max-width: 1360px;
    height: 500px;
    gap: 300px;
}
.img{
    width: 300px;
    height: 300px;
}
.padding{
    padding: 50px 60px 100px;
    width:700px;
    height: 450px;
    background-color: rgba(247,246,242,1);;
}
.horizontal img{
    width: 20px;
    height: 20px;
    padding-bottom: 10px;
}
.horizontal{
    display: flex;
    align-items: center;
    text-align: center;
}
.ready{
    background-color: rgba(247,246,242,1);
   max-width: 1360px;
    height: 300px;
    text-align: center;
    padding-top: 50px;
}
.footer{
    text-align: center;
    margin-left: 585px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.light{
    max-width: 1600px;
   background-color: rgb(8, 8, 53);
    height: 248px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 150px;
    padding-right: 100px;
}
hr{
    color: aliceblue;
}